html, body {
    margin: 0;
    padding: 0;
}

.kontener {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;

}
.search-input {
    border-radius: 10px;
    padding: 3px;
    margin: 5px;
    width: 18.75rem;
}

button {
    margin: 4px;
    padding: 4px;
    border: none;
    background-color: #EFF3F4;
    border-radius: 10px;
    cursor: pointer;
}
butto:hover {
    cursor: pointer;
}

.back {
    margin: 30px;
    padding: 30px;
}